body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #ffba4a; */
}

.wrapper {
  width: 100%;
  overflow: hidden;
  margin-bottom: 190px;
  padding: 2vw;
  /* min-height: 3700px; */
}

.wrapper div,
.wrapper p {
  position: relative;
  z-index: 2;
}

.bg1Container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 70vmin;
  height:90vmin;
}

.bg1Container .copy {
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  display: inline-block;
  background: rgba(255, 255, 255, 0.5);
  text-align: right;
  width: 100%;
  color : black;
  /* font-size: 3vw; */
  
  /* font-size: 3.5vw; */
}

.copy {
  font-size: 3rem;
  font-family: 'EliceDigitalBaeum';
}

@media (max-width:600px) {
  .copy {
    font-size: 20px;
  }
}

.bg1 {
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: center;
  /* 원래 */
  width: 100%;
  height:100%;
  background-image: url("../../assets/images/foodschedule.jpg");
}

.bg2Container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 4rem;
  padding: 3rem;
  width: 90vmin;
  height:110vmin;
}

.bg2Container .copy {
  display: inline-block;
  background: rgba(255, 255, 255, 0.5);
  text-align: left;
  width: 100%;
  color : black;

}

.bg2 {
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: center;
  width: 100%;
  height:100%;
  background-image: url("../../assets/images/health.jpg");
}

.item3Container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 90vmin;
  height:70vmin;
}

.item3Container .item3 {
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  width: 100%;
  height:100%;
}

.desc {
  text-align: right;
  font-size: 3rem;
  color : black;
  margin-right: 6rem;
}

@media (max-width:600px) {
  .desc {
    font-size: 20px;
  }
}

.item4Container {
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 90vmin;
  height:100vmin;
}

.item4Container .item4 {
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  width: 100%;
  height:100%;
}

.desc2 {
  text-align: center;
  font-size: 3rem;
  color : black;
  margin-top: 5rem;
  margin-bottom: 3.5rem;
}

@media (max-width:600px) {
  .desc2 {
    font-size: 20px;
  }
}

#productlink {
  top:88%;
  left:50%;
  position: absolute;
  z-index: 5;
  color: white;
  background-color: #9509fe;
  border-radius: 30px;
  padding: .3rem 1.7rem;
  margin: 0 auto;
  border: none;
  transform: translate(-50%,-50%);
}

p {
  font-family: 'EliceDigitalBaeum';
}


