body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  width: 100%;
  overflow: hidden;
  margin-bottom: 190px;
  /* min-height: 3700px; */
}

.wrapper div,
.wrapper p {
  position: relative;
  z-index: 2;
}

.item3 {
  width: 70%;
}

.item4 {
  width: 70%;
  display: block;
  margin: 0 auto;
}

.bg {
  width: 100%;
  margin: 0 auto;
  display: flex;
  /* height: 800px; */
  justify-content: center;
  align-items: center;
}

.bg div {
  display: inline-block;
  background: rgba(255, 255, 255, 0.5);
  text-align: center;
  padding: 40px 120px;
  /* font-size: 50px; */
  font-size: 3.5vw;
}

.bg1 {
    /* border-right: 1px solid red; */
  background-repeat: no-repeat;
  background-size: cover;
  width: 70%;
  background-image: url("../../assets/images/foodschedule.jpg");
  /*background: url("https://via.placeholder.com/100x50") no-repeat;*/
}

.bg2 {
  /* width: 70%; */
  margin-top: 50px;
  background: url("../../assets/images/health.jpg") no-repeat;
}

.desc {
  font-weight: bold;
  /* font-size: 50px; */
  font-size: 3vw;
  color: #ff5a33;
  left: 50%;
}

.desc2 {
  font-weight: bold;
  /* font-size: 60px; */
  font-size: 4vw;
  color: #146152;
  text-align: center;
  /* right: 50%; */
}

.desc3 {
  font-weight: bold;
  text-align: center;
  /* font-size: 60px; */
  font-size: 4vw;
  color: #a5a5a5;
  opacity: 1;
}