/*마이프로필*/
.Container1 {
  /* background-color: red; */
  padding: 10vmin 10vmin 5vmin;
  font-family: 'EliceDigitalBaeum';
}

.pfwrapper {
  /* background-color: blueviolet; */
  width: 100vmin;
  margin: 0 auto;
}

.mypf1 {
  font-size: 5vmin;
}

.avatar {
  /* background-color: green; */
  margin: 0 6vmin;
}

.inner{
  font-size: 4vmin;
  margin-top: 1vmin;
  height: 30vmin;
  /* background-color: yellow; */
  display: flex;
  align-items: center;
  border: 1px solid rgba(210, 215, 211, 1); 
  box-shadow: 3px 3px 3px gray;
  border-radius: 10px;

}

.info span {
    font-family: 'EliceDigitalBaeum';
    /* padding-right: 5vmin; */
    margin-right: 3vmin;
    /* background-color: orange; */
    /* box-sizing: border-box; */
}

.age {
  display: inline-block;
  width: 25vmin;
  box-sizing: border-box;
}

.sex {
  display: inline-block;
  width: 25vmin;
  box-sizing: border-box;
}
.height {
  display: inline-block;
  width: 25vmin;
  box-sizing: border-box;
}
.weight {
  display: inline-block;
  width: 25vmin;
  box-sizing: border-box;
}

@media (max-width:600px){
  .pfwrapper {
    width: 80vmin;
  }
  .inner {
    font-size: 3.5vmin;
  }
  .age {
    width: 20vmin;
  }
  .sex {
    width: 20vmin;
  }
  .height {
    width: 20vmin;
  }
  .weight {
    width: 20vmin;
  }
}

/* 금융 */
.Container2 {
  /* background-color: blue; */
  padding: 5vmin 10vmin 10vmin;
  margin-bottom: 5vmin;
}

.finance {
  /* background-color: aqua; */
  width: 100vmin;
  margin: 0 auto;
}

.mypf2 {
  font-size: 5vmin;
}

.inner2 {
  font-size: 4vmin;
  margin-top: 1vmin;
  height: 30vmin;
  /* background-color: olive; */
  display: flex;
  align-items: center;
  border: 1px solid rgba(210, 215, 211, 1); 
  box-shadow: 3px 3px 3px gray;
  border-radius: 10px;

}

.graph {
  /* background-color: plum; */
  margin: 0 7vmin;
  padding-bottom: 5vmin;
  /* align-items: center; */
}

.ment span {
  font-family: 'EliceDigitalBaeum';
  padding-right: 3vmin;
  /* background-color: skyblue; */
}

.ment {
  margin-left: 3vmin;
}

#benefit {
  padding-right: 0;
}

@media (max-width:600px){
 .finance {
   width: 80vmin;
 }

 .ment {
   font-size: 3.7vmin;
   margin-left: 1vmin;
 }

 .graph {
   /* background-color: red; */
   padding-top: 6vmin;
   padding-bottom: 8.8vmin;
 }
}